services:
  samples:
    build: .
    container_name: port-dev
    tty: true
    privileged: true
    # Required for systemd to work properly
    tmpfs:
      - /tmp:exec
      - /run
      - /run/lock
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - samples_dir:/app/tests/samples
    networks:
      - port-network
    restart: unless-stopped
    dns:
      - 8.8.8.8

volumes:
  node_modules:
  samples_dir:

networks:
  port-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16
