services:
  samples:
    build: .
    container_name: port-dev
    tty: true
    privileged: true
    # Required for systemd to work properly
    tmpfs:
      - /tmp:exec
      - /run
      - /run/lock
    ports:
      - '2222:22' # SSH port mapped to host:2222
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - samples_dir:/app/tests/samples
    networks:
      - port-network
    restart: unless-stopped
    dns:
      - 127.0.0.1

volumes:
  node_modules:
  samples_dir:

networks:
  port-network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_ip_masquerade: 'false'
    ipam:
      config:
        - subnet: 172.25.0.0/16
